*{
    margin:0rem;
    padding: 0;
    text-align: center;
}

h1{
    background-color: black;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: gold;

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-scr,
#comp-scr{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: gold;
    color: #fff;
    display: inline;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding : 1rem;
}
